.nav a {
    text-decoration:none;
    color:#697e7a;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

nav a:hover, 
nav a.active {
    background:#359381;
    color: #f9f9f9;
}
.container{
    margin: 0;
    padding: 0;
}
.carousel-item img{
    opacity: 0.5;
}
.graback{
    background-color: #3e5fac;
    max-width: 100%;
    padding-right: 10px;
}
.third{
    background-color: rgb(234, 231, 231);
}
.fourth{
    background-color:  rgb(181, 197, 200);
    padding:75px ;
}

.fifth{
    background-color: rgb(234, 231, 231);
}
.car{
    margin-bottom: 100px;
}

body {
    overflow-x: hidden;
 }

.nav a {
    
    text-decoration:none;
    color:#f9f9f9;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    text-decoration: none;
    /* pointer-events: none; */
}
 li>i{
    color: aliceblue;
 }
nav a:hover, 
nav a.active {
    background:#d9950d;
    color: #f9f9f9;
}
.sticky-top{
    background-color: rgb(68, 131, 133);
}

#login-modal .modal-dialog {
    width: 350px;
    margin: auto;
 } 
 
 .modal-footer {
    background-color: #f4f4f4;
    justify-content: center;
 }